<div style="height:100vh;">
  <div style="display:flex; flex-direction:column; justify-content:space-between;height:100%;">

      <header>

          <div class="top-header">
              <div class="container-fluid">
                  <div class="row align-items-center justify-content-end">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                          <div class="gov-india">
                              <span class="responsive_go_hindi" lang="hi">
                                  <a target="_blank" href="https://india.gov.in/hi/" title="भारत सरकार ">भारत सरकार</a>
                              </span>
                              <span class="li_eng responsive_go_eng">
                                  <a target="_blank" href="https://india.gov.in/" title="GOVERNMENT OF INDIA">GOVERNMENT OF INDIA</a>
                              </span>
                          </div>
                          <ul class="top-right-nav">
                              <li class="nobdr lang">
                                  <i class="fa fa-globe fa-logo"></i>
                                  <div class="region region-language">
                                      <section
                                          class="language-switcher-language-url block block-language block-language-blocklanguage-interface clearfix"
                                          id="block-languageswitcher" role="navigation">
                                          <ul class="links">
                                              <li hreflang="en" type="button" class="en is-active"><a class="language-link is-active" hreflang="en" (click)="switchLanguage('en')">English</a></li>
                                              <li hreflang="hi" type="button" class="hi"><a class="language-link" hreflang="hi" (click)="switchLanguage('hi')">Hindi</a></li>
                                          </ul>
                                      </section>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>

          <div class="logo-sec-wraper">
              <div class="container-fluid">
                  <div class="d-flex justify-content-between flex-wrap align-items-center">
                      <div class="col-12 col-sm-3 col-md-3 col-lg-3 logo-sec wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                          <a href="/" class="logo-align">
                              <img src="assets/images/logo.png" alt="emblem">
                              <div class="brand-text" style="width: 50rem;">
                                  <label style="font-size:24px; font-weight:bold;color:#000;width: 40rem;
                                         position: absolute;">CRCS - SAHARA REFUND PORTAL</label>
                                  <label style="font-family:'open_sansregular'; position:absolute; font-size: 14px;padding-left: 0;color: #000;top: 5.4rem;
                                         left: 5.9rem;">(For Refunding Depositors of Sahara Group of Credit Cooperative Societies )
                                  </label>

                                  <div id="fourSoc" class="d-flex justify-content-start" style="color: #000;position: absolute;left: 6.1rem;top: 6.9rem;">
                                      <label class="form-label" style="font-family:'open_sansregular'; font-size: 14px; margin: 0; padding: 0;">1. Sahara Credit Cooperative Society Limited, Lucknow. </label>
                                      <label style="font-family:'open_sansregular'; font-size: 14px;  margin: 0; padding: 0;">2. Saharayan Universal Multipurpose Society Limited, Bhopal.</label>
                                      <label style="font-family:'open_sansregular'; font-size: 14px; margin: 0; padding: 0;">3. Humara India Credit Cooperative Society Limited, Kolkata.</label>
                                      <label style="font-family:'open_sansregular'; font-size: 14px; margin: 0; padding: 0;">4. Stars Multipurpose Cooperative Society Limited, Hyderabad.</label>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-12 col-sm-9 col-md-9 col-lg-9 d-flex justify-content-end otherlogo-sec wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                          <a href="https://www.g20.org/en/" target="_blank"><img src="assets/images/g-20-logo.png" alt="g-20" class="g-20" style="margin-top: 25px;"></a>
                          <a href="http://gandhi.gov.in/" target="_blank"><img src="assets/images/150yrs.png" alt="150yr"></a>
                          <a href="https://swachhbharat.mygov.in/" target="_blank"><img src="assets/images/swach-bharat.png" alt="swach-bharat"></a>
                          <a href="https://amritmahotsav.nic.in/" target="_blank"><img src="assets/images/AKAM_logo.png" alt="AKAM_logo"></a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="nav-wraper" style="margin-top: 2.8rem;">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-12 col-sm-12 col-md-12">
                          <nav class="navbar-expand-lg custom-nav w-100">
                              <div class="region region-navigation">
                                  <section id="block-mainnavigation" class="block block-superfish block-superfishmain clearfix">
                                      <ul id="superfish-main" class="menu sf-menu sf-main sf-horizontal sf-style-none sf-js-enabled sf-shadow d-flex align-items-center" style="width: 100%; overflow-x: auto;">
                                          <li id="main-standardfront-page" class="active-trail sf-depth-1 sf-no-children"><a routerLink="home" class="is-active sf-depth-1">Home</a></li>

                                          <div *ngIf="session.SessionId == null;then content else other_content"></div>

                                          <ng-template #content>
                                                  <li id="main-menu-link-content5e8469ae-9ce4-49de-b055-74096f3333bf" style="margin-left: 1rem; margin-right: 1rem; min-width:fit-content;"
                                                      class="fs-2 sf-depth-1 sf-no-children">
                                                      <a routerLink ="depositor/register" class="sf-depth-1 menuparent sf-with-ul">
                                                          <label for="edit-pass" class="control-label js-form-required form-required" style="font-weight: bold;">{{ 'app.depositorRegistration' | translate }}</label>
                                                      </a>
                                                  </li>

                                                  <li style="border-right: 2px solid white; height:2rem;"></li>

                                                  <li id="main-menu-link-content5e8469ae-9ce4-49de-b055-74096f3333bf" class="fs-2 sf-depth-1 sf-no-children" style="margin-left: 1rem; margin-right: 1rem; min-width:fit-content;">
                                                      <a routerLink ="depositor/login" class="sf-depth-1 menuparent sf-with-ul"><label for="edit-pass" class="control-label js-form-required form-required" style="font-weight: bold;">{{ 'app.DepositorLogin' | translate }}</label></a>
                                                  </li>

                                                  <li style="border-right: 2px solid white; height:2rem;"></li>

                                                  <li id="main-menu-link-content5e8469ae-9ce4-49de-b055-74096f3333bf" class="fs-2 sf-depth-1 sf-no-children" style="margin-left: 1rem; margin-right: 1rem; min-width:fit-content;">
                                                      <a href="assets/uploads/SC Order dated 29th March2023.pdf" title="Supreme Court Order PDF" class="sf-depth-1 menuparent sf-with-ul">
                                                          <label for="edit-pass" class="control-label js-form-required form-required" style="font-weight: bold;">{{ 'app.HonbleSupremeCourtOrder' | translate }}</label>
                                                      </a>
                                                  </li>

                                                  <li style="border-right: 2px solid white; height:2rem;"></li>

                                                  <li id="main-menu-link-content5e8469ae-9ce4-49de-b055-74096f3333bf" class="fs-2 sf-depth-1 sf-no-children" style="margin-left: 1rem; margin-right: 1rem; min-width:fit-content;">
                                                      <a href="https://www.youtube.com/MinOfCooperatn" target="_blank" class="sf-depth-1 menuparent sf-with-ul"><label for="edit-pass" class="control-label js-form-required form-required" style="font-weight: bold;">{{ 'app.HowtoApply' | translate }}</label></a>
                                                  </li>

                                                  <li style="border-right: 2px solid white; height:2rem;"></li>

                                                  <li id="main-menu-link-content5e8469ae-9ce4-49de-b055-74096f3333bf" class="fs-2 sf-depth-1 sf-no-children" style="margin-left: 1rem; margin-right: 1rem; min-width:fit-content;">
                                                      <a routerLink ="faq" class="sf-depth-1 menuparent sf-with-ul"><label for="edit-pass" class="control-label js-form-required form-required" style="font-weight: bold;">{{ 'app.FAQ' | translate }}</label></a>
                                                  </li>

                                                  <li style="border-right: 2px solid white; height:2rem;"></li>
                                                  <li id="main-menu-link-content5e8469ae-9ce4-49de-b055-74096f3333bf" class="fs-2 sf-depth-1 sf-no-children" style="margin-left: 1rem; margin-right: 1rem; min-width:fit-content;">
                                                      <a routerLink ="userManual" class="sf-depth-1 menuparent sf-with-ul">
                                                          <label for="edit-pass" class="control-label js-form-required form-required" style="font-weight: bold;">{{ 'app.UserManual' | translate}}</label>
                                                      </a>
                                                  </li>
                                                  <li style="border-right: 2px solid white; height:2rem;"></li>
                                                  
                                                  <li *ngIf="ViewBag.Role == 'Sahara' || ViewBag.Role == 'OSD' || ViewBag.Role == 'CRCS' || ViewBag.Role == 'Auditor'" class="dropdown dropdown-toggle fs-2" id="dropdownMenuButton" style="margin-left: 1rem; margin-right: 8rem; min-width:fit-content;">
                                                      <a class="" href="#"><label for="edit-pass" class="control-label js-form-required form-required">{{'app.SocietyDataDeclaration'|translate}}</label></a>
                                                      <ul style="background-color:#23527c;" id="submenu-list" class="dropdown-menu fs-2">
                                                          <li><a class="dropdown-item" style="text-align: left; font-size: 18px;" href="~/downloads/Cert_Data dump_SUMSL.pdf"><label>SUMSl</label></a></li>
                                                          <li><a class="dropdown-item" style="text-align: left; font-size: 18px;" href="~/downloads/Cert_Data dump-HICCSL.pdf"><label>HICCSL</label></a></li>
                                                          <li><a class="dropdown-item" style="text-align: left; font-size: 18px;" href="~/downloads/Cert_Data dump-Stars.pdf"><label>Stars</label></a></li>
                                                          <li><a class="dropdown-item" style="text-align: left; font-size: 18px;" href="~/downloads/Cert_Data Dump Certificate- Sahara.pdf"><label>SCCL</label></a></li>
                                                      </ul>
                                                  </li>
                                          </ng-template>

                                          <ng-template #other_content>
                                                  <li *ngIf="ViewBag.Role == 'Sahara' || ViewBag.Role == 'OSD' || ViewBag.Role == 'Auditor' || ViewBag.Role == 'CRCS'" class="dropdown dropdown-toggle fs-2" id="dropdownMenuButton" style="width: 500rem;" style="margin-left: 1rem; margin-right: 2rem; min-width:fit-content;">
                                                      <a href="#" class="sf-depth-1 menuparent sf-with-ul">
                                                          <label>{{'app.Welcome'|translate}}</label> {{ViewBag.Name}}
                                                          <p *ngIf="ViewBag.Role == 'Sahara' || ViewBag.Role == 'OSD'">{{session.SocietyName}}</p>
                                                      </a>
                                                      <ul style="background-color:#23527c; margin-top: -10px;" id="submenu-list" class="dropdown-menu fs-2">
                                                          <li><a class="dropdown-item" style="text-align: left; font-size: 18px;" href="~/Backoffice/ChangePassword"><label>{{ 'app.ChangePassword' | translate}}</label></a></li>
                                                      </ul>
                                                  </li>

                                                  <li *ngIf="ViewBag.Role == null" id="main-menu-link-content5e8469ae-9ce4-49de-b055-74096f3333bf" style="width: 1000rem;" class="sf-depth-1 sf-no-children"><a routerLink ="depositor/dashboard" class="sf-depth-1 menuparent sf-with-ul"><label>{{ 'app.Welcome' | translate }}</label></a></li>
                                                  <li *ngIf="ViewBag.Role == 'Sahara' || ViewBag.Role == 'OSD' || ViewBag.Role == 'Auditor' || ViewBag.Role == 'CRCS'" id="main-menu-link-content5e8469ae-9ce4-49de-b055-74096f3333bf" style="width: 1000rem;" class="sf-depth-1 sf-no-children"><a href="#" class="sf-depth-1 menuparent sf-with-ul"><label>{{ 'app.Dashboard' | translate}}</label></a></li>
                                                  <li style="border-right: 2px solid white; height:2rem;"></li>

                                                  <li id="main-menu-link-content5e8469ae-9ce4-49de-b055-74096f3333bf" class="fs-2 sf-depth-1 sf-no-children"
                                                      style="margin-left: 1rem; margin-right: 1rem; min-width:fit-content;">
                                                      <a routerLink="grievance" class="sf-depth-1 menuparent sf-with-ul">
                                                          <label for="edit-pass" class="control-label js-form-required form-required" style="font-weight: bold;">{{
                                                              'app.Grievance' | translate}}</label>
                                                      </a>
                                                  </li>


                                                  <li id="main-menu-link-content5e8469ae-9ce4-49de-b055-74096f3333bf"
                                                      style="display: flex; justify-content: flex-end; width: 100%;" class="sf-depth-1 sf-no-children">
                                                      <a *ngIf="ViewBag.Role === 'Sahara'" href="~/Backoffice/Logout" class="sf-depth-1 menuparent sf-with-ul">
                                                          <label>{{ 'app.Logout' | translate }}</label>
                                                      </a>
                                                      <a *ngIf="ViewBag.Role === 'Auditor'" href="~/Backoffice/auditorLogout" class="sf-depth-1 menuparent sf-with-ul">
                                                          <label>{{ 'app.Logout' | translate }}</label>
                                                      </a>
                                                      <a *ngIf="ViewBag.Role === 'OSD'" href="~/Backoffice/osdLogout" class="sf-depth-1 menuparent sf-with-ul">
                                                          <label>{{ 'app.Logout' | translate }}</label>
                                                      </a>
                                                      <a *ngIf="ViewBag.Role !== 'Sahara' && ViewBag.Role !== 'Auditor' && ViewBag.Role !== 'OSD'"
                                                          (click)="depositorLogout()" class="sf-depth-1 menuparent sf-with-ul">
                                                          <label>{{ 'app.Logout' | translate }}</label>
                                                      </a>
                                                  </li>
                                          </ng-template>
                                      </ul>
                                  </section>
                              </div>
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
      </header>

      <marquee *ngIf="session.SessionId == null" class="d-flex align-items-center w-100" direction="left"
          style="height: 3.8rem;background-color: orange;margin-bottom: 0.5rem;">
          <label>{{ 'app.marquee' | translate}}</label>
      </marquee>
      <div class="flex-grow-1" style="background-color:#ffffff;">
        <router-outlet></router-outlet>
    </div>
    <div class="footer-top-sec">
      <div class="container-fluid">
          <div class="row">
              <div class="col-12 col-sm-12 col-md-3 col-lg-3 " >
                  <div class="footer-title"><h4><label>{{ 'app.GetInTouch' | translate }}</label></h4><div class="underline"></div></div>
                  <div class="region region-footer-first">
                      <section id="block-footerfirst" class="block block-block-content block-block-contentcd22912f-e1f8-4157-a079-4012ccb5e6d8 clearfix">
                          <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                              <div class="footer-nav-sec copyright-sec">
                                  <p class="footer-title">
                                      <label>{{ 'app.CentralRegistrarofCooperativeSocieties' | translate }}</label><br>
                                      <label>{{ 'app.AtalAkshayUrjaBhawan' | translate }}</label><br>
                                      <label>{{ 'app.CGOComplex' | translate }}</label><br>
                                      <label>{{ 'app.BehindNIABuilding' | translate }}</label><br>
                                      <label>{{ 'app.NewDelhi–110003' | translate }}</label>
                                  </p>
                              </div>
                          </div>
                      </section>
                  </div>
              </div>
              <div class="col-12 col-sm-12 col-md-3 col-lg-3 " style="margin-left: 5%;">
                  <div class="footer-title"><h4><label>{{'app.QUICKLINKS' | translate }}</label></h4><div class="underline"></div></div>
                  <div class="footer-nav-sec copyright-sec">
                      <div class="region region-footer-second">
                          <section id="block-quicklinks-2" class="block block-superfish block-superfishquick-links clearfix">

                              <ul id="superfish-quick-links" class="menu sf-menu sf-quick-links sf-horizontal sf-style-none sf-js-enabled sf-shadow footer-title">
                                  <li id="quick-links-menu-link-content54907428-0301-4944-a011-feffb009e19c" class="sf-depth-1 sf-no-children"><a href="https://amul.com/index.php" class="sf-depth-1 sf-external" target="_blank"><label>{{'app.AMUL' | translate}}</label></a></li>
                                  <li id="quick-links-menu-link-content813e7418-da85-47ca-b37e-9cb1a4c62446" class="sf-depth-1 sf-no-children"><a href="https://jsactr.mowr.gov.in/wbgis/" class="sf-depth-1 sf-external" target="_blank"><label>{{'app.NICSOPENDATABASES' | translate}}</label></a></li>
                                  <li id="quick-links-menu-link-contentdf7eb019-843e-4385-aad4-92fd06f5d0e6" class="sf-depth-1 sf-no-children"><a href="https://cooperation.gov.in/other-states-website-details" class="sf-depth-1"><label data-en="STATE COOPERATIVE WEBSITES">{{'app.STATECOOPERATIVEWEBSITES' | translate}}</label></a></li>
                                  <li id="quick-links-menu-link-contente1953e3c-b14a-4ef2-a8fb-8bf1f30a0718" class="sf-depth-1 sf-no-children"><a href="/Faq" class="sf-depth-1"><label>{{'app.FAQS' | translate }}</label></a></li>
                                  <li id="quick-links-menu-link-contente1953e3c-b14a-4ef2-a8fb-8bf1f30a0718" class="sf-depth-1 sf-no-children"><a href="/CRCS Sahara Refund Portal - Depositor UserManual.pdf" class="sf-depth-1"><label>{{'app.UserManual' | translate }}</label></a></li>
                              </ul>

                          </section>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-12 col-md-3 col-lg-3 " style="margin-left: 5%;">
                  <div class="footer-title"><h4><label>{{'app.NATIONALCOOPERATIVES' | translate}}</label></h4><div class="underline"></div></div>
                  <div class="footer-nav-sec copyright-sec">
                      <div class="region region-footer-third">
                          <section id="block-nationalcooperatives-3" class="block block-superfish block-superfishnational-cooperatives clearfix">
                              <ul id="superfish-national-cooperatives" class="menu sf-menu sf-national-cooperatives sf-horizontal sf-style-none sf-js-enabled sf-shadow footer-title">
                                  <li id="national-cooperatives-menu-link-content5e39f4e5-8d87-40f9-92e1-7c02360171e1" class="sf-depth-1 sf-no-children"><a href="https://coopsugar.org/" class="sf-depth-1 sf-external" target="_blank"><label>{{'app.NFCSF' | translate}}</label></a></li>
                                  <li id="national-cooperatives-menu-link-contentc57e6f59-c3d4-45ef-952a-62f9178fb5b1" class="sf-depth-1 sf-no-children"><a href="https://www.kribhco.net/" class="sf-depth-1 sf-external" target="_blank"><label>{{'app.KRIBHCO' | translate}}</label></a></li>
                                  <li id="national-cooperatives-menu-link-content873918f1-705a-4121-ac53-825fb5a7bcf8" class="sf-depth-1 sf-no-children"><a href="https://trifed.tribal.gov.in/" class="sf-depth-1 sf-external" target="_blank"><label>{{'app.TRIFED' | translate}}</label></a></li>
                                  <li id="national-cooperatives-menu-link-contentc5cffad2-2f6d-4a40-9352-92ef8210275e" class="sf-depth-1 sf-no-children"><a href="https://www.nabard.org/" class="sf-depth-1 sf-external" target="_blank"><label>{{'app.NABARD' | translate}}</label></a></li>
                                  <li id="national-cooperatives-menu-link-contentd60b92e6-3fda-4fbd-b982-00903f02d798" class="sf-depth-1 sf-no-children"><a href="https://www.nafed-india.com/" class="sf-depth-1 sf-external" target="_blank"><label>{{'app.NAFED' | translate}}</label></a></li>
                                  <li id="national-cooperatives-menu-link-contentfc413796-3a08-4f8a-8656-61ed1a9a8069" class="sf-depth-1 sf-no-children"><a href="https://www.iffco.in/" class="sf-depth-1 sf-external" target="_blank"><label>{{'app.IFFCO' | translate}}</label></a></li>
                                  <li id="national-cooperatives-menu-link-contentcce5740a-dbce-4c53-97a0-5ca9029e296e" class="sf-depth-1 sf-no-children"><a href="https://ncui.coop/" class="sf-depth-1 sf-external" target="_blank"><label>{{'app.NCUI' | translate}}</label></a></li>
                              </ul>
                          </section>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="footer-bottom-sec">
      <div class="container">
          <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="footer-nav-sec">
                      <div class="region region-copyright">
                          <section id="block-footercopyright" class="block block-block-content block-block-content9eba3550-a3ec-4b67-b36e-84c6fac86081 clearfix">

                              <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                                  <p><label>{{'app.MinistryFooter' | translate}}</label></p>
                              </div>

                              <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                                  <p><label>&copy; {{'app.2023Allrightsreserved' | translate}} |</label> <a href="~/PrivacyPolicy"><label>{{'app.PrivacyPolicy' | translate}}</label></a></p>
                              </div>
                          </section>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
</div>